
  :host {
    display: block;
  
    .user-details-container {
      display: flex;
      justify-content: center; 
      align-items: center; 
      height: 80vh;            

      .email-line， .phone-line，.address-line，.company-line { 
        
      }
    }

    mat-card-content{
      display:flex;
    }
    
    mat-card {
      width: 50%;
      max-width: 600px;
      min-width: 310px;
    }
    
    mat-card-header {
      margin-bottom: 16px; 
    }
    
    mat-list-item {
      margin-bottom: 8px;
      height: fit-content;
      display: flex;
      align-items: center;

      ::ng-deep{

        span.mat-mdc-list-item-unscoped-content.mdc-list-item__primary-text {
          display: flex;
          gap: 1rem;
          flex-direction: row;
          flex-wrap: wrap;
        }
      }
    }
    
    mat-icon {
      margin-right: 8px; 
    }
  }
  