<div *ngIf="user" class="user-details-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ user.name }}</mat-card-title>
        <mat-card-subtitle>{{ user.username }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon>email</mat-icon>
            <div mat-line>{{ user.email }}</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>phone</mat-icon>
            <div mat-line>{{ user.phone }}</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>home</mat-icon>
            <div mat-line>{{ user.address.street }}, {{ user.address.suite }}</div>
            <div mat-line>{{ user.address.city }}, {{ user.address.zipcode }}</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>business</mat-icon>
            <div mat-line>{{ user.company.name }}</div>
            <div mat-line>{{ user.company.catchPhrase }}</div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <button mat-raised-button [routerLink]="['/users']">Back to User List</button>
